{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  Species
{% endblock %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <div class="container mt-4 shadow-sm p-3 mb-5 bg-body rounded" style="display:flex;justify-content: center;align-items: center; max-width: 100%;">
    <form action="/gardeners" method="post" style="justify-content:space-evenly;width:50%;">
      {{ form.hidden_tag() }}
      <div>{{ form.name.label(class = 'form-label') }}: {{ form.name(class = 'mb-3 form-control') }}</div>
      <div>{{ form.surname.label(class = 'form-label') }}: {{ form.surname(class = 'mb-3 form-control') }}</div>
      <div>{{ form.email.label(class = 'form-label') }}: {{ form.email(class = 'mb-3 form-control') }}</div>
      {{ form.submit(class = 'btn btn-primary') }}
    </form>
  </div>
  <div class="container mt-4">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">Name</th>
          <th scope="col">Sur Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for gardener in gardeners %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ gardener.name }}</td>
            <td>{{ gardener.surname }}</td>
            <td>{{ gardener.email }}</td>
            <td>
              <div class="d-flex">
                <div class="me-2">
                  <a href="{{url_for('update_gardeners',id=gardener.id)}}"><img src="static/svgs/update.svg" alt="Update" /></a>
                </div>
                <div class="ms-2">
                  <a href="{{url_for('delete_gardeners',id=gardener.id)}}"><img src="{{ url_for('static', filename = 'svgs/delete.svg') }}" alt="Delete" /></a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
