{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
  Sign UP
{% endblock %}
{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <div class="container d-flex align-items-center justify-content-center" style="height: 90vh;">
    <div class="col-md-5">
      <form action="/signup" method="post">
        {{ form.hidden_tag() }}
        <div>{{ form.first_name.label(class = 'form-label') }}: {{ form.first_name(class = 'mb-3 form-control') }}</div>
        <div>{{ form.last_name.label(class = 'form-label') }}: {{ form.last_name(class = 'mb-3 form-control') }}</div>
        <div>{{ form.email.label(class = 'form-label') }}: {{ form.email(class = 'mb-3 form-control') }}</div>
        <div>{{ form.password.label(class = 'form-label') }}: {{ form.password(class = 'mb-3 form-control') }}</div>
        <div class="d-flex justify-content-end">{{ form.submit(class = 'btn btn-primary ') }}</div>
      </form>
    </div>
  </div>
{% endblock %}
